<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">StoryBooks</a>
            {{!-- <a href="#" data-activates="main-menu" class="button-collapse show-on-small">
                <i class="fa fa-bars"></i>
            </a> --}}

            {{#if user}}
            <ul class="left hide-on-small-only">
                <li class="left hide-on-small-only">
                    <a href="/dashboard">Welcome: {{ user.firstName}}</a>
                </li>
            </ul>
            {{else}}
            {{/if}}
            {{!-- Right nav --}}
            <ul class="right hide-on-small-only">
                {{#if user}}
                {{!-- <li class="left hide-on-small-only">
                    <a href="/dashboard">Welcome {{ user.firstName}}</a>
                </li> --}}

                <li>
                    <a href="/stories">
                        <i class="fa fa-book"></i> Public Stories</a>
                </li>

                <li>
                    <a href="/stories/my">
                        <i class="fa fa-user"></i> My Stories
                    </a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <i class="fa fa-sign-out"></i> Logout</a>
                </li>
                {{else}}
                <li>
                    <a href="/stories">
                        <i class="fa fa-book"></i> Public Stories</a>
                </li>

                {{!--
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-cog"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/stories/my">
                        <i class="fa fa-user">My stories</i>
                    </a>
                </li> --}}

                <li>
                    <a href="/auth/google">
                        <i class="fa fa-sign-in"></i> Login</a>
                </li>
                {{/if}}
            </ul>

            {{!-- SIDE MENU --}} {{!--
            <ul class="side-nav" id="main-menu">

                {{#if user}} {{else}}
                <li>
                    <a class="btn red darken-1" href="/auth/google">
                        <i class="fa fa-google left"></i> Login With Google</a>
                </li>
                {{/if}}
                <li>
                    <a href="/stories">
                        <li class="fa fa-book"></li>Public Stories</a>
                </li>
                <li class="divider"></li>
            </ul> --}}

        </div>
    </div>
</nav>